body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #343a40;
  color: white;
  height: 100vh;
  padding-top: 20px;
  box-sizing: border-box;
  position: fixed;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px 20px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar ul li a:hover{
  background-color:#444;
  border-radius: 4px;
}

.content {
  margin-left: 250px;
  padding: 20px;
  flex: 1;
  background-color: #f8f9fa;
}

.header {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  background-color: #343a40;
  color: white;
}

.welcome {
  margin-bottom: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-top: 0;
}

.card p {
  margin: 10px 0 20px;
}

.btn-blue {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}

.btn-green {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}

.btn-yellow {
  background-color: #ffc107;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}

.btn-red {
  background-color: #dc3545;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}
